.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.sa{
  width: 150px;
  height: 40px;
  text-align: center;
}

.as{

  border-top: 1px double black;

}
.canvas-container{
  width: 600px;
  height: 400px;
}
.form-center {
  margin-top: 20px;
  text-align: center;
}
.sas{
  
display: inline-block;
margin-top: 20px;
margin-bottom: 20px;
margin-left: 73px;


  border: 1px double black;
  overflow:hidden;
  width: 150px;
  height: 105px
  
  
}
.saw
{

  margin-bottom: 45.5px;

}

.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#category-list {
  padding: 5px;
}

.sas1{
  
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 73px;
  border: 1px double black;
  overflow:hidden;
  width: 150px;
  height: 80px

  }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
